.how-wrapper {
  width: 100%;
  /* background: #0e0e0e; */
  color: #fff;
}

/* Each step = full screen */
.how-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px;
  gap: 60px;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.05); */
  
}


/* Alternate layout */
.how-section.reverse {
  flex-direction: row-reverse;
}

/* Text side */
.how-text {
  flex: 1;
  max-width: 520px;
}

.step-number {
  font-size: 14px;
  color: #6ea8ff;
  letter-spacing: 2px;
  display: block;
  margin-bottom: 20px;
}

.how-text h2 {
  font-size: 42px;
  margin-bottom: 20px;
  line-height: 1.2;
}

.how-text p {
  font-size: 18px;
  color: #b5b5b5;
  line-height: 1.6;
}

/* Media side */
.how-media {
  flex: 1;
  display: flex;
  justify-content: center;;
}

.how-media img {
  width: 100%;
  max-width: 500px;
  border-radius: 16px;
  box-shadow: 0 30px 80px rgba(0, 0, 0, 0.6);
  background: linear-gradient(135deg, #ff00cc, #3333ff);
}

/* Responsive */
@media (max-width: 900px) {
  .how-section {
    flex-direction: column;
    text-align: center;
  }

  .how-section.reverse {
    flex-direction: column;
  }

  .how-text {
    max-width: 100%;
  }

  .how-media img {
    max-width: 100%;
  }
}